<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/dist/js/jquery.min.js"></script>
	<link rel="stylesheet" href="/dist/grids/css/util-min.css" />
	<link rel="stylesheet" href="/dist/js/css/pe-ap-min.css" />
	<link rel="stylesheet" href="/dist/theme-wet-boew/css/theme-min.css" />
	<link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
	
</head>
<body>
	<div id="wb-body">
	<h1><%= title %></h1>
	
<!-- HEADER END -->