<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/dist/js/jquery.min.js"></script>
	<link rel="stylesheet" href="/dist/grids/css/util-min.css" />
	<link rel="stylesheet" href="/dist/js/css/pe-ap-min.css" />
	<link rel="stylesheet" href="/dist/theme-wet-boew/css/theme-min.css" />
	<link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
	
</head>

</head>

<body><div id="wb-body">

<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<section><div id="wet-fullhd">
<div id="wet-fullhd-in">
	<ul>
		<li><a style="display:block;padding-right:15px;" href="#">Login</a></li>
		<li><a style="display:block;padding-right:15px;" href="/register">Register</a></li>
	</ul>
</div>
</div></section>

<div id="wet-bnr" role="banner"><div id="wet-bnr-in">
<div id="wet-title">
	<p id="wet-title-in">
		<a href="/index">		
			<img src="../../dist/theme-wet-boew/images/logo.png" alt="" /> 
			<span style="font-family:arial;"><b>ImGal</b></span>
		</a>
	</p>
</div>

</div></div>

<nav role="navigation">
	<div id="wet-psnb"><div id="wet-psnb-in"><div class="wet-boew-menubar mb-mega"><div>
	<ul class="mb-menu">
		<li><div><a href="/index">Home</a></div></li>
		<li><div><a href="/gallery">Gallery</a></div></li>
	</ul>
	</div></div></div></div>
</nav>

<!-- HeaderEnd -->
</header></div></div>

<div id="wb-core"><div id="wb-core-in" class="equalize">
<div id="wb-main" role="main"><div id="wb-main-in">
<!-- MainContentStart -->

	<h1><%= title %></h1>
	
<!-- HEADER.EJS END -->