
<% include wrapper/header.ejs %>

<form action="/gallery" method="post" enctype="multipart/form-data">

	<input type="file" name="image" />
	<input type="submit" accept="image/*" value="upload" />

</form>

<% if (locals.msg) { %>
	<%= msg %>
<% } %>

<div>
	<% if (locals.imageList) { %>
	<div class="gallery">
	<% for (var i = 0; i < imageList.length; i++){ %>		
	    <div class="galleryItem">
	        <a href="<%= imageList[i] %>"><img src="<%= imageList[i] %>" alt=""></a>
	        <h3>Title</h3>
	    </div>
	<% } %>
	</div>
	<% } %>
</div>
	


<% include wrapper/footer.ejs %>
